* {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #FFEB3B;
}
.jumbotron {
  background-color:transparent !important;
}
.btn-primary {
    background-color: #000000 !important;
    color: #FFEB3B !important;
}
.black {
  font-size: xx-large;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: flex;
  padding: 5px;
  background-color: #000000;
  color: #FFEB3B;
}
