<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>fiki.wiki</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <style>
      body {background-color: #ffd300;}
      #logo {
        font-family: 'Merriweather', serif;
        text-decoration: none;
        font-size: xx-large;
      }
      a {color: #000000;}
    </style>
    {% endblock %}
  </head>
  <body>
    <div id='logo'>
      <a href="/", style="text-decoration:none;">fiki.fun</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
  <footer>
  </footer>
</html>
